langgraph 
langchain
langchain-groq
langchain-core
python-dotenv
ipython
ipykernel



fastapi
fastapi-mail
langchain-openai
langchain-tavily
jose
python-jose
aiofiles
python-multipart
sqlalchemy
psycopg2-binary
uvicorn